Engine - high level parsers

| Wazuh version | Component | Install type | Install method   | Platform   |
| ------------- | --------- | ------------ | ---------------- | ---------- |
| 5.0.0         | Engine    | Manager      | Packages/Sources | OS version |

# High level parsers

## General considerations for all parsers

 - They must have tests for valid and invalid cases, proving the
   desired behaviour. Any behaviour not tested will be considered
   unsupported.
 - All parsers must have at least one a synthetic
   benchmark. Ideally we should have benchmarks for success and error
   cases. These will be used in regression tests.
 - All must document the usage on the supported context within all
   the assets.
 - All parsers might be used as function helpers.

## Tasks

 - [x] LoQL Parser

	This parser will take an string containing a LogQL expression
	and will return an operation which when feeded with an event
	will return the same event with all the parsed fields added.

	The operation must no modify in any way the input expression.
	It should fail as quikly as possible, and will only return an
	error if if is instructed to do so.

	A LogQL expression like:

	```<source.ip> - - [<timestamp/APACHE>] "<http.request.method> <url> HTTP/<http.version>" <http.response.status_code> <http.response.body.bytes>```

	Is composed of the following:

	field ```<source.ip>```\
	literal ``` - - [```\
	field ```<timestamp/APACHE>```\
	literal ```] "```\
	field ```http.request.method```\
	literal ``` ```\
	field ```<url>```\
	literal  ```HTTP/```\
	field ```<http.version>```\
	literal ```" ```\
	field ```<http.response.status_code>```\
	literal ``` ```\
	field ```<http.response.body.bytes> ```

	This will generate a parser which will be a combination of
	parsers for each component.

	A text feeded to the LogQL generated parser will be parsed
	only if all the combined parsers succeed.

	All field names must be validated against the schema while
	we're constructing the operations, unless its name starts with
	a ```_```

	Parameters to decoders can be strings or references to the
	processing document. We need to make sure an operation does
	not fail fatally when using references, as these are defined
	only on execution time.

 - [x] Timestamp Parser

	This parser must be able to parse commonly used timestamps. We
	might need to add the ability compute values with dates and
	times.

	The following timestamps formats must be supported (from the go time.Parse library):

	 - Layout      = "01/02 03:04:05PM '06 -0700" // The reference time, in numerical order.
	 - ANSIC       = "Mon Jan _2 15:04:05 2006"
	 - UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
	 - RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
	 - RFC822      = "02 Jan 06 15:04 MST"
	 - RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
	 - RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
	 - RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
	 - RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
	 - RFC3339     = "2006-01-02T15:04:05Z07:00"
	 - RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
	 - Kitchen     = "3:04PM"
	 - // Handy time stamps.
	 - Stamp      = "Jan _2 15:04:05"
	 - StampMilli = "Jan _2 15:04:05.000"
	 - StampMicro = "Jan _2 15:04:05.000000"
	 - StampNano  = "Jan _2 15:04:05.000000000"
	 - APACHE     = ANSIC | ANSICM
	 - ANSICM      = "Mon Jan _2 15:04:05.123456 2006"

	We should leverage the standard library if it provides what we
	need in terms of functionality and performance. For example:

	https://en.cppreference.com/w/cpp/io/manip/get_time

	Paramters to timestamp parser can't be a reference, only one
	of the stated identifiers or a format string used by the
	underlying parser, like ```std::get_time```

 - [x] IP address parser

	It must be able to parse IP adresses and CIDRs of v4 and v6.
	These addresses must be valid or the parser should fail.

	We might need to do operations against parsed IP addresses.

 - [x] FQDN / PQDN / FQHN parser

 	The term “fully qualified domain name”, FQDN for short, refers to the
	complete and unique address of an internet presence. It consists of
	the host name and the domain, and is used to locate specific hosts
	online and access them using name resolution.

	The structure of an FQDN is predefined by the domain name system
	(DNS). The names of the individual levels in the domain name area are
	called “labels” and are separated from one another by dots. Each label
	must consist of 1 to 63 characters and the total FQDN may not exceed
	255 characters in total. Only letters, numbers, or dashes can be used.
	Each label has to have either a letter or a number at the beginning.

	The fully qualified domain name consists of three or more labels: The
	top level domain, the domain names, optional subdomains, and the host
	name. If a domain name doesn’t specify all of the labels that are
	required for the FQDN, then this is called a “Partially Qualified
	Domain Name” (PQDN). This often means that only the host name is
	given. The generic name or the FQDN and its IP address is the “Fully
	Qualified Host Name” (FQHN).

	If the expression given as a FQDN is not valid, the parser must fail.

 - [x] URI parser

	An URI parser must expand the URI components into an object
	based on the schema

	https://www.elastic.co/guide/en/ecs/current/ecs-url.html

	Its syntax can be defined informally like:

    ```
    URI = scheme ":" ["//" authority] path ["?" query] ["#" fragment]
    authority = [userinfo "@"] host [":" port]
    query = field "=" value1 [ ("&" | ";") field2 "=" value2 ]+
    ```

 	It must parse any valid URI or fail otherwise.

 - [x] User-Agent parser

 	The user agent parser should parser user agent strings and set
 	the appropriate shema fields:

 	https://www.elastic.co/guide/en/ecs/current/ecs-user_agent.html

 	Its syntax can be described informally as:

    ```User-Agent = product *( RWS ( product / comment ) )```

 	See for reference:

 	https://datatracker.ietf.org/doc/html/rfc7231#section-5.5.3
 	https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent

 - [x] Filenames and fielpaths parser

	It must parse any valid filename or path from Windows or UNIX
	based systems. It should have the functionality to extrat the
	path or a filename from a filepath.

	It must extract values into schema validated fields:

	https://www.elastic.co/guide/en/ecs/current/ecs-file.html

 - [x] JSON parser

	Some events migth have embeded JSON strings in its contents.
	We need a parser which will parse those strings into valid
	JSON objects. This object should be included in a temporal
	field in the event which we're processing.

	The LogQL syntax should something like:

	```<_json/JSON>``` where the auxiliar field will be named _json, and
	the parser used will be the JSON one. The field name could be any
	valid auxiliary field name.

	Usually, in these kind of messages the JSON is the last piece
	of information in the event original string, so it should
	parse until the end of the string. We must parse until the
	JSON is correctly defined and stop there, leaving room for
	other parsers to come after it if necessary.


 - [x] Maps parser

	Some events might have embeded map-like strings in its
	contents. These are usually a sequence of unordered key-value
	pairs of the form:

	```[field1=value1] [field2=value2]```\
	```field1=value1 field2=value2```

	We need a parser which will parse that information into an auxiliary
	field in JSON format.

	```<_map/MAP/ /=>``` will parse a map whose fields are separated by a space
	and while values are separated by the equal sign.

	The generated JSON object shoud be like:

    ```
    "_map" : {
        "field1": "value1",
        ...\
    }
    ```

	Usually, in these kind of messages the map is the last piece
	of information in the event original string, so it should
	parse until the end of the string, but we can introduce an
	optional mark to end the parser and mark it as succesfull
	after the end.

	```<_map/MAP/ /=/end-mark>```



Closing this epic after the integration of the implementation https://github.com/wazuh/wazuh/pull/12683